appdirs==1.4.3
beautifulsoup4==4.5.3
braintree==3.19.0
Django==1.10
django-crispy-forms==1.5.0
django-extensions==1.7.8
django-filter==0.11.0
django-livereload-server==0.2.3
django-registration-redux==1.5
djangorestframework==3.6.2
Markdown==2.6.8
olefile==0.44
packaging==16.8
Pillow==2.9.0
pydot==1.2.3
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
tornado==4.4.3
